body {
    padding: 0px;
    margin: 0px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    height: 50px;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
}

.who1 {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    background-color: rgb(212, 211, 211);
}

.come {
    width: 1000px;
    background-image: url("picture.png");
    height: 450px;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: gold;
    padding-top: 30px;

}

.come p {
    color: white;
}

.house {
    border: none solid black;
    width: 300px;
    background-color: gold;
    color: white;
    margin: 5px;

}

.formm {
    color: darkblue;
    margin: 5px;
}

.formm p {
    color: black;
}

.formm li {
    color: black;
}

.put {
    display: flex;
    align-items: center;
    height: 150px;
    margin: 5px;
}

.put h1 {
    background-color: blue;
    height: inherit;
    font-style: 20px;
    display: flex;
    align-items: center;
    width: 200px;
}

.put h1:hover {
    background-image: url("picture.png");
}

.put p {
    background-color: gold;
    height: inherit;
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 20px;
}

.put p:hover {
    background-image: url("../../Pictures/picture2.jpg");
}

.who {
    display: flex;
    align-items: center;
    height: 150px;
    margin: 5px;
}

.who h1 {
    background-color: blue;
    height: inherit;
    font-style: 20px;
    display: flex;
    align-items: baseline;
    width: 200px;
}

.who p {
    background-color: gold;
    height: inherit;
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 20px;
}

.go {
    display: flex;
    align-items: center;
    height: 150px;
    margin: 5px;
}

.go h1 {
    background-color: blue;
    height: inherit;
    font-style: 20px;
    display: flex;
    align-items: baseline;
    width: 200px;
}

.go p {
    background-color: gold;
    height: inherit;
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 20px;
}

.look {
    margin-bottom: 1px;
    background-color: blue;
    color: white;
    align-content: center;
    text-align: center;
    padding-top: 30px;
}

.look button {
    background-color: gold;
    color: white;
}